/* extra small device */
@media (max-width:575.99px){
    .my-logo-color-one{
        color:rgb(9, 84, 245)!important;
    }
    .my-logo-color-two{
        color: rgb(17, 17, 17)!important;
    }

    .my-navbar-toggler:focus{
        box-shadow: none;
    }

    .my-navbar-toggler{
       bottom:28.99px;
        left:0;
    }

    .my-carousel-caption{
        bottom:0.1rem;
    }
    .my-carousel-paragraph {
        font-size: 12px;
    }

    .my-carousel-indicators{
        top:160px;
    }

    .my-carousel-caption-heading {
   
        font-size:1.5rem;
    }

    .every-moment-heading-paragraph-btn h3{
        font-size: 1.2rem;
        }

        .my-moment-text{
            font-size: 0.9rem!important;
            font-weight: 400 !important;
            }

        .our-package-main-heading h3{
        
            font-size:1.2rem;
         
        
        }

        .client-says-heading h3{
           
            font-size:1.2rem;
            
        
        }
        .faq-header h3{
            font-size:1.2rem;
        }

        .contract-heading h3{
            font-size:1.2rem;

}


}

/* small device */
@media (min-width:576px) and (max-width:767.99px){
    .my-logo-color-one{
        color:rgb(9, 84, 245)!important;
    }

    .my-logo-color-two{
        color: rgb(17, 17, 17)!important;
    }
    .my-navbar-toggler:focus{
        box-shadow: none;
    }

    .my-carousel-caption{
        bottom:0.1rem;
    } 

    .my-carousel-paragraph {
        font-size: 14px;
    }

    .my-carousel-caption-heading {
   
        font-size:2rem;
    }

    .every-moment-heading-paragraph-btn h3{
        font-size: 1.5rem;
        }
.my-moment-text{
            font-size: 1rem!important;
            font-weight: 400!important;
            }
.our-package-main-heading h3{
            font-size:1.5rem;
        
        
        }
.client-says-heading h3{
        font-size:1.5rem;
 }

.faq-header h3{
            font-size:1.5rem;
}
    
.contract-heading h3{
            font-size:1.5rem;

}


}

/* special case */

@media (min-width:576px) and (max-width:580px){
    .my-carousel-indicators{
        top:200px;
    }
}


/* mediam device */

@media (min-width:768px) and (max-width:991.99px){


}


/* large device */


@media (min-width:992px) and (max-width:1199.99px){


}


/* extra large */
@media (min-width:1200px) and (max-width:1399.99px){

  
}

