/* extra small device */
@media (max-width:576px){
    .my-logo-color-one{
        color:rgb(9, 84, 245)!important;
    }
    .my-logo-color-two{
        color: rgb(17, 17, 17)!important;
    }

    .my-navbar-toggler:focus{
        box-shadow: none;
    }

    .my-navbar-toggler{
        bottom:28.99px;
        left:0;
    }

    .carousel-item img{
        height:580px;

    }

    .every-moment-heading-paragraph-btn h3{
        font-size: 1.2rem;
    }

     .my-moment-text{
            font-size: 0.9rem!important;
            font-weight: 400 !important;
     }

     .our-package-main-heading h3{
            font-size:1.2rem;
     }

     .client-says-heading h3{  
            font-size:1.2rem;
            
        
     }
     .faq-header h3{
            font-size:1.2rem;
     }

     .contract-heading h3{
            font-size:1.2rem;

     }


}

/* small device two part */


/* small device 576px to 676px media query  special case*/


@media (min-width:576px) and (max-width:676px){
    .carousel-item img{
        height:365px;

    }

    .every-moment-img img{
        height:280px;
    }
    .every-moment-heading-paragraph-btn h3{
        font-size: 1.2rem;
    }

    .every-moment-heading-paragraph-btn a.btn{
            padding: 3px;
    }

    .my-moment-text{
            font-size: 0.9rem!important;
            font-weight: 400 !important;
    }

    .our-package-main-heading h3{
            font-size:1.2rem;
    }

    .client-says-heading h3{  
        font-size:1.2rem;
            
        
    }
    .faq-header h3{
            font-size:1.2rem;
    }

    .contract-heading h3{
            font-size:1.2rem;

    }
}
/* small device second part */
/* small device 676px to 768px media query*/


@media (min-width:676px) and (max-width:768px){
    .my-logo-color-one{
        color:rgb(9, 84, 245)!important;
    }

    .my-logo-color-two{
        color: rgb(17, 17, 17)!important;
    }
    .my-navbar-toggler:focus{
        box-shadow: none;
    }


    .my-carousel-paragraph {
        font-size: 1rem;
    }

    .my-carousel-caption-heading {
        font-size:2rem;
    }

    .every-moment-heading-paragraph-btn h3{
        font-size: 1.5rem;
        }
    .my-moment-text{
                font-size: 1rem!important;
                font-weight: 400!important;
    }
    .our-package-main-heading h3{
            font-size:1.5rem;
    }
    .client-says-heading h3{
        font-size:1.5rem;
    }

    .faq-header h3{
            font-size:1.5rem;
    }
    
    .contract-heading h3{
            font-size:1.5rem;

    }


}


/* mediam device */

@media (min-width:768px) and (max-width:992px){


}


/* large device */


@media (min-width:992px) and (max-width:1200px){


}


/* extra large */
@media (min-width:1200px) and (max-width:1400px){ 
}

