/* google poppins font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal style start */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/* common style */


/* header part css start */

/* navbar css start */
ul.navbar-nav>li.nav-item>a.nav-link{
    color:#3E3E3E;

}


/* slider part css start */

.my-slider{
    background-color: rgba(0, 0, 0, 0.01);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.my-carousel-caption-heading {
    font-weight:600;
    font-size:3rem;
}

.my-carousel-paragraph {
    font-weight: 300;
}


/* main section css start */

/* every moment section css start */
.every-moment-heading-paragraph-btn h3{
font-size: 2.5rem;
}


/* our packages section css start */

.our-package-main-heading h3{
    font-weight:600;
    font-size:2.5rem;
    line-height:3.5rem;

}

.our-package-name.our-package-price{
    font-family: Roboto;
}

.our-package-items{
    border-radius:7%;
}

.packages-item small{
    color:#848199;

}

.my-packages-btn{
  font-family: Roboto;

}

.our-package-items-active{
    background-color: rgb(128, 128, 128);
    transform: scaleY(1.15);
    box-shadow: 30px 20px 5px rgba(119, 116, 116, 0.281);
}

/* .hot-active{
    font-size: 10px;
} */

.our-package-items-hot{
right:0;
top:0px;
}


 /* client says section css start */

 .client-says-heading h3{
    font-weight:600;
    font-size:2.5rem;
    line-height:3.5rem;

}

.client-says-card {
    box-shadow: 10px 10px 5px rgba(119, 116, 116, 0.281);
}